/*body*/
body{
	text-decoration: courier;
	color: darkgreen; 
}

/*wrapper*/


/*header*/
#header{
	background-color: darkgreen;
	color: beige;
	text-transform: uppercase;
	font-size: 22px;
	height: 60px;
    padding-top: 1px;
}

#header ol{
	list-style-type: none;

}

#header li{
    display: inline;
    padding: 12px;
    
}

#header a {
	text-decoration: none;
	color: beige;
	text-transform: uppercase;
}

#header a:hover {
	color: #E6CC80;
}

/*banner*/
#banner h1{
	margin-top: 40px;
    font-size: 40px;

}

/*sub_banner*/
#sub_banner{
    font-style: italic;
    
}

/*center*/
.center{
    text-align: center;
}

/*gallery_main_page*/
#gallery_main_page {
	margin: 4px;
    padding: 18px;
    height: auto;
    width: 100%;
    float: left;
    background-color: none;
 
}

#gallery_main_page img{
	width: 28%;
	background-color: #A3C266;
	margin: 4px;
    padding: 8px;
    border: 1px solid #A3C266;
}

/*gallery_pracitcal_page*/
.practical_img{
	margin: 20px;
    padding: 8px;
    /*border: 1px solid #A3C266;*/
    height: auto;
    width: 20%;
    float: left;
    background-color: none;
}

.practical_img h3{
 	text-transform: uppercase;

}

.practical_img p{
 	clear: left;
 	line-height: 22px;

}

.practical_img img{
    padding: 8px;
    border: 1px solid #A3C266;
    height: auto;
    margin-bottom: 8px;
    /*display: block;*/
    width: 250px;
    float: left;
    background-color: #A3C266;
    text-align: center;

}


/*footer*/
#footer_section {
    clear: all;
    /*border: 1px solid #A3C266;*/
    height: auto;
    width: 100%;
    float: left;
    background-color: #A3C266;
    /*text-align: center;*/
}

.footer_item {
	margin: 10px;
    border: 1px solid #A3C266;	
    height: auto;
    width: 22%;
    float: left;
    background-color: none;
    
}


.footer_item h5{
    text-transform: bold;
    font-size: 15px;
    margin-bottom: 5px;
}    

.footer_item p{
    margin-top: 5px;
}

/*copyright*/
#copyright {
    margin: auto;
	clear: both;
	background-color: darkgreen;
	color: lightgrey;
	text-align: center;
}